.metro-line {
    margin: 20px 0;
    flex-direction: row;
    font-size: 50px;
    align-self: center;
}

.metro-line .bg-accent {
    color: white;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#Direction {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#Direction.right {
    flex-direction: row-reverse;
}

#Direction.right .left {
    rotate: 45deg;
}

#Separator {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 40px 0;
}

.line {
    width: 10px;
    height: 30px;
    scale: 1 1.1;
}

#Stops {
    width: 200px;
}

.stop Label {
    translate: 0 -30%;
}

.stop #Name {
    min-width: 350px;
    padding: 4px;
}

.current #Name {
    background-color: #111;
    color: white;
}

.stop #Metros {
    min-width: 50px;
}
