.important .border-accent {
    border-color: black;
}

.inactive .border-accent {
    border-color: rgb(140, 140, 140);
}

.inactive.bg-accent,
.inactive .bg-accent {
    background-color: rgb(140, 140, 140);
}

.line {
    width: 100px;
    height: 6px;
    scale: 1.003 1;
}

.stop Label {
    position: absolute;
    left: 50%;
    translate: -50% 0;
    max-width: 100px;
    white-space: normal;
}
