#Content > * {
    flex-grow: 1;
    flex-direction: row;
}

Label {
    margin: 0;
    padding: 0;
}

.icon {
    padding: 0 50px;
}

#Transfers Label {
    word-spacing: 15px;
}

.no-scrolling {
    left: 0;
    translate: none !important;
    align-items: center;
}