#Content > * {
    flex-grow: 1;
    flex-direction: row;
}

Label {
    margin: 0;
    padding: 0;
}

.icon {
    padding: 0 50px;
}

#Transfers Label {
    word-spacing: 15px;
}

.scrollable {
    flex-grow: 1;
    left: 100%;
}

.no-scrolling {
    left: 0;
    justify-content: center;
}