#Content > * {
    flex-grow: 1;
    flex-direction: row;
}

Label {
    margin: 0;
    padding: 0;
}

.icon {
    margin-right: 50px;
    margin-left: 50px;
}

#Transfers Label {
    word-spacing: 15px;
}
